#app {
	width: calc(100%);
	height: calc(100%);
}

.bg{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	top:0;
	left:0;
	align-items:center;
	justify-self: center;
	overflow: hidden;
	filter: blur(100px);
	z-index: -999;
}

.bg div{
	transition: all .4s linear;
}

/* 容器 */
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.music_name,.music_author{
	text-align: center;
	overflow: hidden;
}
.name {
	display: inline-block;
    white-space: nowrap;
}

.music_desc {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.share {
	display: block;
	position: absolute;
	right: 20px;
	font-size: 25px !important;
	cursor: pointer;
	border-radius: 50%;
	user-select: none;
}
.empty-list{
	width: 100%;
	height: 100%;
	display: flex;
}

.empty-list span{
	display: block;
	margin: 0 auto;
	user-select: none;
	color: rgba(0, 0, 0, 0.6)
}

.fav{
	display: block;
	position: absolute;
	left: 20px;
	font-size: 25px !important;
	cursor: pointer;
	border-radius: 50%;
	user-select: none;
}

.music_container{
	width: 100%;
	height: 397px;
}

.music_container::-webkit-scrollbar { width: 0 !important }
.music_container { -ms-overflow-style: none; }
.music_container { overflow: -moz-scrollbars-none; }

.fav.active{
	color: rgb(223, 56, 56);
}

.music_desc .music_author span {
	color: rgb(0, 0, 0,0.6);
}
.music_name{
	width: 150px;
}
.music_author{
	width: 300px;
}

.name.scroll {
    animation: 8s wordsLoop linear infinite;
}
@keyframes wordsLoop {

    0% {

        transform: translateX(100%);

        -webkit-transform: translateX(100%);

    }

    100% {

        transform: translateX(-100%);

        -webkit-transform: translateX(-100%);

    }

}
.header-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background-color: rgb(144,150,150);
	padding: 0 0 0 0 !important;
	opacity: 0.3;
}

.main_container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}
.music_lyric{
	width: 320px;
	height: 600px;
	display: flex;
	align-items: center;
	position: relative;
	transform: translateY(-40px);
}

.lyric_container{
	width: 80%;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: inherit;
	position: relative;
	color:rgba(0, 0, 0, 0.6);
	margin: 0 auto;
}

/* .lyric_container::before{
	content: ' ';
	position: fixed;
	box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
	filter: blur(10px);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} */

p.no-lyric{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 100%;
	color: rgba(0, 0, 0, 0.6);
}

.lyric_container ul.lyric{
	list-style: none;
}

.lyric_container ul.lyric li{
	margin: 10px auto;
}

.lyric_container ul.lyric li span{
	display: block;
	text-align: center;
	user-select: none;
	transition: font-size 0.3s ease,color 0.3s ease;
	font-family: '演示秋鸿楷'!important;
	
}

.footer-bg{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: -999;
	background-color: rgb(144,150,150);
	padding: 0 0 0 0 !important;
	opacity: 0.3;
}

.lyric_container ul.lyric li.active span{
	color: rgb(255, 255, 255);
	font-size: 110%;
}

.lyric_container::-webkit-scrollbar { width: 0 !important }
.lyric_container { -ms-overflow-style: none; }
.lyric_container { overflow: -moz-scrollbars-none; }

.music_cover {
	width: 300px;
	height: 300px;
	border: 10px solid beige;
	border-radius: 50%;
	overflow: hidden;
	animation: Cycle 10s linear infinite;
}

.music_cover img {
	width: 300px;
	height: 300px;
	object-fit: scale-down;
	border-radius: 50%;
}

.music_control {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	align-items: center;
	align-content: space-between;
	justify-content: center;
	user-select: none;
}

span,
button,
div,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.foot{
	position: fixed;
	bottom: 0;
	transform: TRANSLATEX(25px);
}

.music_control div span {
	font-size: 30px;
	margin: auto 10px;
	cursor: pointer;
	border-radius: 50%;
	transition: background-color 0.1s ease-in-out;
}

.music_control div span:hover,
.share:hover {
	color: rgb(66, 66, 66);
}

.music_control div span:active,
.share:active {
	background-color: rgba(66, 66, 66, 0.1);
}

.time {
	display: flex;
	justify-content: space-between;
	user-select: none;
}

.play_btn span {
	font-size: 50px !important;
}

.el-tabs{
	height: 100%;
	overflow: scroll;
}

.el-tabs::-webkit-scrollbar { width: 0 !important }
.el-tabs { -ms-overflow-style: none; }
.el-tabs { overflow: -moz-scrollbars-none; }

.infinite-list {
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.infinite-list .infinite-list-item {
	display: flex;
	align-items: center;
	justify-content: start;
	text-indent: 2em;
	height: 30px;
	background: var(--el-color-primary-light-9);
	margin: 1px;
	color: var(--el-color-primary);
	border-radius: 8px;
}

.infinite-list .infinite-list-item:active{
	background: var(--el-color-primary-light-10);
}

.infinite-list .infinite-list-item.playing{
	background: rgb(243, 131, 131);
}

.infinite-list .infinite-list-item+.list-item {
	margin-top: 10px;
}

/* 图片旋转 */
@keyframes Cycle {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* 引入icon */
@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.woff2?t=1654911187666') format('woff2'),
		url('../fonts/iconfont.woff?t=1654911187666') format('woff'),
		url('../fonts/iconfont.ttf?t=1654911187666') format('truetype');
}

@font-face {
	font-family: '演示秋鸿楷';
	src: url('../fonts/YanShiQiuHongKai-2.ttf') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}